@model List<WebApplication3.Controllers.SoundBarController.AppId>;


@{
}

@foreach (var app in Model)
{
    <div>
        <input type="range" id="VolumeIn_@app.Id" name="volume" min="0" max="100" step="1" style="width:50vw" value="@app.Vol"/>
        <label for="@app.Id">@app.Name: <output id="VolumeLab_@app.Id"></output></label>
    </div>
}

<button onclick="sendUdateEquest()">update sessions</button>

@foreach (var app in Model)
{
    <div>
            <!--img src="/SoundBar/icon/0" alt="Ikona procesu"-->
    </div>
}

<script type="text/javascript">
    var apps = @Html.Raw(Json.Serialize(Model));
    let isRequestInProgress = false;
    let pendingValue = null;

    function sendVolumeChange(id, volume) {
        var tosend = [{ "Id": id, "Vol": volume }];
        isRequestInProgress = true;

        $.ajax({
            type: "POST",
            url: '/SoundBar/ChangeVolume',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(tosend),
            success: function (response) {},
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("Error:", jqXHR.status, jqXHR.responseText);
            },
            complete: function () {
                isRequestInProgress = false;
                if (pendingValue !== null) {
                    // Wysyłamy oczekującą wartość
                    let nextValue = pendingValue;
                    pendingValue = null;
                    sendVolumeChange(nextValue.id, nextValue.vol);
                }
            }
        });
    }

    apps.forEach((app) => {
        document.querySelector('#VolumeLab_' + app['id']).textContent = app['vol'];
        document.querySelector('#VolumeIn_' + app['id']).addEventListener("input", (event) => {
            let volume = event.target.value;
            document.querySelector('#VolumeLab_' + app['id']).textContent = volume;
            if (!isRequestInProgress) {
                sendVolumeChange(app['id'], volume);
            } else {
                // Jeśli żądanie jest w toku, przechowujemy ostatnią wartość, którą chcemy wysłać
                pendingValue = { id: app['id'], vol: volume };
            }
        });
    });

    function sendUdateEquest() {
        $.ajax({
            type: "GET",
            url: '/SoundBar/UpdateSessions',
            success: function (response) { },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("Error:", jqXHR.status, jqXHR.responseText);
            },
            complete: function () {}
            });
    }
</script>
